stack
R/.Rhistory
R/.RData
js/d3*.js
presentation.html
*.Rout
figs/intercross.png
js/manyboxplots.js
js/lod_and_effect.js
figs/manyboxplots.png
figs/manyboxplots_oldschool.png
figs/manyboxplots_oldschoolB.png
